---
import DocStart from "../../components/DocStart.astro";
import DocEnd from "../../components/DocEnd.astro";
import HeadTopLinks from "../../components/HeadTopLinks.astro";
import HeadBottomLinks from "../../components/HeadBottomLinks.astro";
import ItemCard from "../../components/ItemCard.astro";
import { loadAndFormatCollection, getTags } from '../../util/collection';

export async function getStaticPaths() {
    const posts = await loadAndFormatCollection('posts');
    const projects = await loadAndFormatCollection('projects', false);

    const tags = new Set([...await getTags(posts), ...await getTags(projects)]);

    return [...tags]
        .map(tag => {
            return {
                params: { tag }
            }
        });
};

const { tag } = Astro.params;

const posts = (await loadAndFormatCollection('posts'))
    .filter((post: any) => post.data.tags.includes(tag))
    .sort((a: any, b: any) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const projects = (await loadAndFormatCollection('projects', false))
    .filter((post: any) => post.data.tags.includes(tag))
    .sort((a: any, b: any) => a.data.weight - b.data.weight);
---

<DocStart />
<div class="container container--cards">
    <div class="head head--slim">
        <HeadTopLinks />

        <h1>{tag}</h1>
        <h2 class="subheading">tag</h2>

        <HeadBottomLinks />
    </div>

    <div class="body">
        <div class="inner-container">
            <div class="tabs" style="display: none;">
                <a href="#posts" class="tab tab--active">Posts</a>
                <a href="#projects" class="tab">Projects</a>
            </div>

            <div id="posts" class="tab-content">
                <h3 class="text-center" style="margin-top: 0;">Posts</h3>
                {
                    posts.map((post) => (
                        <ItemCard item={post} hasPublishDate={true} />
                    ))
                }
    
                { posts.length == 0 && <div class="text-center text--muted-2">No posts match this tag</div>}
            </div>

            <div id="projects" class="tab-content">
                <h3 class="text-center">Projects</h3>
    
                <div class="card-grid">
                    {
                        projects.map((project) => (
                            <ItemCard item={project} hasPublishDate={false} hasStatus={true} />
                        ))
                    }
                </div>
    
                { projects.length == 0 && <div class="text-center text--muted-2">No projects match this tag</div>}
            </div>
        </div>
    </div>
</div>
<DocEnd />

<script is:inline>
document.addEventListener('DOMContentLoaded', () => {
    document.querySelector('.tabs').style.display = 'block'
    document.querySelector('.tab-content h3').style.display = 'none'

    const tabs = document.querySelectorAll('.tabs .tab')
    const sections = [
        document.getElementById('posts'),
        document.getElementById('projects')
    ]

    tabs.forEach(tab => {
        tab.addEventListener('click', (e) => {
            e.preventDefault()

            tabs.forEach(tab => tab.classList.remove('tab--active'))
            tab.classList.add('tab--active');

            sections.forEach(section => section.style.display = 'none')

            const section = document.getElementById(tab.getAttribute('href').replace('#', ''))
            section.style.display = 'block'
        })
    })
})
</script>