---
import DocStart from "../components/DocStart.astro";
import DocEnd from "../components/DocEnd.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Button from "../components/Button.astro";
import GitHubIcon from "../components/Icons/GitHubIcon.astro";
import LinkedInIcon from "../components/Icons/LinkedInIcon.astro";
import MediumIcon from "../components/Icons/MediumIcon.astro";
import SettingsIcon from "../components/Icons/SettingsIcon.astro";
import { loadAndFormatCollection } from "../util/collection";
import { statusToBadgeClass } from "../util/frontmatter";

const posts = (await loadAndFormatCollection("posts"))
    .sort((a: any, b: any) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 3);

const projects = (await loadAndFormatCollection('projects', false))
    .sort((a: any, b: any) => a.data.weight - b.data.weight)
    .slice(0, 3);
---

<DocStart title="Home" />
<div class="container container--centred container--home">
    <div class="inner-container">
        <div class="site-title">
            <h1>
                <span class="text--muted-1" style="padding-right: .2em;"
                    >&#8250;</span
                ><span class="text--primary-1">rick</span><span
                    class="text--muted-1">.</span
                ><span class="text--primary-7">me</span><span
                    class="text--muted-1">.</span
                ><span class="text--primary-7">uk</span>
            </h1>

            <div class="link-settings-container">
                <a href="#" class="link-settings" data-open-modal=".modal--settings" title="Change settings">
                    <SettingsIcon width="28px" height="28px" />
                </a>
            </div>
        </div>

        <p class="lead">
            Hi. I'm Rick, a game developer with a background in full-stack web dev.
        </p>

        <div class="section recent-posts">
            <div class="inline-heading">
                <h2>Posts</h2>

                <span class="more-link">
                    <a href="/posts/">See full list</a>
                </span>
            </div>

            <ul>
                {
                    posts.map((post: any) => (
                        <li>
                            <a
                                href={post.absoluteURL}
                                class="link"
                            >
                                {post.data.title}
                            </a>
                            <span class="publish-date">
                                <FormattedDate
                                    date={post.data.pubDate}
                                />
                            </span>
                        </li>
                    ))
                }
            </ul>
        </div>

        <div class="section projects">
            <div class="inline-heading">
                <h2>Projects</h2>

                <span class="more-link">
                    <a href="/projects/">See full list</a>
                </span>
            </div>

            <div class="featured-cards">
                {
                    projects.map((project: any) => (
                        <div class="featured-cards__card">
                            <div class="featured-cards__card__inner">
                                <span class={statusToBadgeClass(project.data.status)}>
                                    {project.data.status}
                                </span>
                                <a
                                    href={project.absoluteURL}
                                    class="link"
                                >
                                    {project.data.title}
                                </a>
                                <div class="description">
                                    {project.data.description}
                                </div>
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>

        <div class="section proficiencies">
            <h2>Proficiencies</h2>

            <div class="proficiencies__row">
                <div class="proficiencies__row__label">Languages</div>
                <div
                    class="proficiencies__row__pills pills pills--primary-1"
                >
                    <span>C</span>
                    <span>C++</span>
                    <span>C#</span>
                    <span>Java</span>
                    <span>Rust</span>
                    <span>Python</span>
                    <span>PHP</span>
                    <span>JavaScript</span>
                </div>
            </div>
            <div class="proficiencies__row">
                <div class="proficiencies__row__label">Frameworks</div>
                <div
                    class="proficiencies__row__pills pills pills--primary-2"
                >
                    <span>.NET</span>
                    <span>Laravel</span>
                    <span>Express</span>
                    <span>Vue.js</span>
                    <span>React</span>
                    <span>React Native</span>
                </div>
            </div>
            <div class="proficiencies__row">
                <div class="proficiencies__row__label">
                    Game Engines
                </div>
                <div
                    class="proficiencies__row__pills pills pills--primary-3"
                >
                    <span>Unreal</span>
                    <span>Unity</span>
                    <span>Godot</span>
                </div>
            </div>
            <div class="proficiencies__row">
                <div class="proficiencies__row__label">Databases</div>
                <div
                    class="proficiencies__row__pills pills pills--primary-4"
                >
                    <span>MySQL</span>
                    <span>PostgreSQL</span>
                    <span>MongoDB</span>
                    <span>Redis</span>
                </div>
            </div>
            <div class="proficiencies__row">
                <div class="proficiencies__row__label">Editors</div>
                <div
                    class="proficiencies__row__pills pills pills--primary-5"
                >
                    <span>VS Code</span>
                    <span>Visual Studio</span>
                    <span>JetBrains IDEs</span>
                </div>
            </div>
            <div class="proficiencies__row">
                <div class="proficiencies__row__label">Platforms</div>
                <div
                    class="proficiencies__row__pills pills pills--primary-6"
                >
                    <span>Web</span>
                    <span>Desktop</span>
                    <span>Mobile</span>
                </div>
            </div>
            <div class="proficiencies__row">
                <div class="proficiencies__row__label">
                    Tools & Services
                </div>
                <div
                    class="proficiencies__row__pills pills pills--primary-7"
                >
                    <span>Git</span>
                    <span>WSL</span>
                    <span>Docker</span>
                    <span>Kubernetes</span>
                    <span>AWS</span>
                    <span>Cloudflare</span>
                </div>
            </div>
        </div>

        <div class="section links">
            <Button href="https://github.com/Riari">
                <GitHubIcon width="32px" height="32px" style="vertical-align: -10px;" /> GitHub
            </Button>
            <Button href="https://www.linkedin.com/in/rick-uk/">
                <LinkedInIcon width="32px" height="32px" style="vertical-align: -10px;" /> LinkedIn
            </Button>
            <Button href="https://medium.com/@rickhmann">
                <MediumIcon width="32px" height="32px" style="vertical-align: -10px;" /> Medium
            </Button>
        </div>
    </div>
</div>

<DocEnd />