---
import "../styles/style.scss";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
    title,
    description = SITE_DESCRIPTION,
    image = "/images/default-og-preview.png",
} = Astro.props;

let pageTitle = title ? `${title} • ${SITE_TITLE}` : SITE_TITLE;
---

<!doctype html>
<html lang="en" data-theme="system" class="scrolled">
    <head>
        <!-- Global Metadata -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />

        <!-- Canonical URL -->
        <link rel="canonical" href={canonicalURL} />

        <!-- Primary Meta Tags -->
        <title>{pageTitle}</title>
        <meta name="title" content={pageTitle} />
        <meta name="description" content={description} />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={pageTitle} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={new URL(image, Astro.url)} />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content={pageTitle} />
        <meta property="twitter:description" content={description} />
        <meta property="twitter:image" content={new URL(image, Astro.url)} />

        <link rel="preload" href="/fonts/JetBrainsMono.woff2" as="font" type="font/woff2" />
        <link rel="preload" href="/fonts/SourceSans3.woff2" as="font" type="font/woff2" />

        <script is:inline>
            document.documentElement.dataset.theme =
                localStorage.getItem("theme") ?? "system";
        </script>
    </head>
    <body>
        <slot></slot>

        <script src="../js/theme.ts"></script>
        <script src="../js/interactivity.ts"></script>
    </body>
</html>
