---
import FormattedDate from "./FormattedDate.astro";
import { statusToBadgeClass } from "../util/frontmatter";

const { item, hasPublishDate, hasStatus } = Astro.props;

let statusClass = '';
if (hasStatus) {
    statusClass = statusToBadgeClass(item.data.status);
}
---

<div class="item-card">
    <a class="item-card-link" href={item.absoluteURL}></a>
    <div
        class="item-card-background"
        style={`background-image: url(${item.data.heroImage});`}
    />
    <div class="item-card-inner">
        <div class="item-card-inner-header">
            <h3 class="item-card-inner-header-title">
                {item.data.title}
            </h3>
            { hasPublishDate &&
                <span class="item-card-inner-header-publish-date">
                    <FormattedDate
                        date={item.data.pubDate}
                    />
                </span>
            }
            { hasStatus &&
                <span class:list={['item-card-inner-header-status', statusClass]}>
                    {item.data.status}
                </span>
            }
        </div>
        <div class="item-card-inner-body">
            {item.data.description}
        </div>
        <div class="item-card-inner-footer">
            <div class="item-card-inner-footer-tags">
                {item.data.tags.map((tag: string) => (
                    <a href={`/tags/${tag}/`}>{tag}</a>
                ))}
            </div>
        </div>
    </div>
</div>