---
import ogs from "open-graph-scraper";
import Image from "./Image.astro";

const { url } = Astro.props;

const properties = await ogs({ url }).then((data: any) => {
    return data.result;
});
---

<div class="og-summary">
    <a href={url} target="_blank">
        <Image
            src={properties.ogImage[0].url}
            alt={properties.ogImage[0].alt ?? ""}
            width={properties.ogImage[0].width ?? null}
            height={properties.ogImage[0].height ?? null}
            inferSize={!properties.ogImage[0].width}
            zoomable={false}
            loading="lazy" />
    </a>
    <div class="caption">
        <a href={url} target="_blank">{properties.ogTitle}</a>
    </div>
</div>