---
import ogs from "open-graph-scraper";
import Image from "./Image.astro";

const { url } = Astro.props;

let fetchOptions = {};
if (url.includes("github.com")) {
    const githubToken = import.meta.env.GITHUB_TOKEN;
    if (githubToken) {
        fetchOptions = {
            headers: {
                'Authorization': `Bearer ${import.meta.env.GITHUB_TOKEN}`,
                'Accept': 'application/vnd.github.v3+json'
            }
        };
    }
}

const properties = await ogs({ url, fetchOptions }).then((data: any) => {
    return data.result;
});

// TODO: Might need to add a fallback to favicon or display a generic image if the OG response contains no usable image URLs.
const image = properties.ogImage && properties.ogImage.length > 0
    ? properties.ogImage[0]
    : properties.twitterImage[0];
---

<div class="og-summary">
    <a href={url} target="_blank">
        <Image
            src={image.url}
            alt={image.alt ?? ""}
            width={image.width ?? null}
            height={image.height ?? null}
            inferSize={!image.width}
            zoomable={false}
            loading="lazy" />
    </a>
    <div class="caption">
        <a href={url} target="_blank">{properties.ogTitle}</a>
    </div>
</div>