---
const { page } = Astro.props;
---

{
    page.total > page.size ? (
        <nav class="pagination button-group">
            {page.url.first ? (
                <a href={page.url.first} class="button--skew-left"><span>« First</span></a>
            ) : (
                <span class="pagination-item-disabled button"><span>« First</span></span>
            )}
            {page.url.prev ? (
                <a href={page.url.prev} class="button--skew-left"><span>‹ Previous</span></a>
            ) : (
                <span class="pagination-item-disabled button"><span>‹ Previous</span></span>
            )}

            <span class="pagination-page-number">
                Page {page.currentPage} of {page.lastPage}
            </span>

            {page.url.next ? (
                <a href={page.url.next}><span>Next ›</span></a>
            ) : (
                <span class="pagination-item-disabled button"><span>Next ›</span></span>
            )}
            {page.url.last ? (
                <a href={page.url.last}><span>Last »</span></a>
            ) : (
                <span class="pagination-item-disabled button"><span>Last »</span></span>
            )}
        </nav>
    ) : null
}