---
import FormattedDate from "./FormattedDate.astro";

const { post } = Astro.props;
---

<div class="post-card">
    <div
        class="post-card-background"
        style={`background-image: url(${post.data.heroImage});`}
    />
    <div class="post-card-header">
        <h3 class="post-card-header-title">
            <a href={post.absoluteURL}>
                {post.data.title}
            </a>
        </h3>
        <span class="post-card-header-publish-date">
            <a href={post.absoluteURL}>
                <FormattedDate
                    date={post.data.pubDate}
                />
            </a>
        </span>
    </div>
    <div class="post-card-body">
        <a href={post.absoluteURL}>
            {post.data.description}
        </a>
    </div>
    <div class="post-card-footer">
        <div class="post-card-footer-tags">
            {post.data.tags.map((tag: string) => (
                <a href={`/tags/${tag}/`}>{tag}</a>
            ))}
        </div>
    </div>
</div>