---
import Card from "./Card.astro";
import { projectTypeToAccent } from "../scripts/utils/collection";

interface Props {
    project: any;
    withBackground?: boolean;
    withTags?: boolean;
    minHeight?: string;
}

const { project, withBackground = false, withTags = false, minHeight = null } = Astro.props;

const accent = projectTypeToAccent(project.data.type);
const backgroundUrl = withBackground ? project.data.headerImage.src : null;
---

<Card item={project} accent={accent} backgroundImage={backgroundUrl} minHeight={minHeight}>
    <div slot="before-title">
        <div class="badge">
            {project.data.type}
        </div>
    </div>

    { withTags && <div class="links" slot="footer">
        {project.data.tags.map((tag: string) => <a href={`/projects/tag/${tag}/1`}>{tag}</a>)}
    </div>}
</Card>
