---
import { projectStatuses } from "../content/config";
import ContentFooter from "./ContentFooter.astro";
import Document from "./Document.astro";
import ExternalLink from "./ExternalLink.astro";
import Head from "./Head.astro";
import ProjectCard from "./ProjectCard.astro";
import { statusToBadgeClass } from "../util/frontmatter";

const { projects, statusFilter = null } = Astro.props;
---

<Document title="Projects">
    <div class="container container--projects container--cards">
        <div class="head-container">
            <Head title="Projects" />
        </div>

        <div class="body">
            <div class="inner-container">
                <div class="text-center" style="margin-bottom: 2rem;">
                    This is a selection of projects I'm working on (or have
                    previously worked on).
                    <br />
                    You can find more of my software projects on <ExternalLink url="https://github.com/Riari">GitHub</ExternalLink>.

                    <p>
                        Filter by status:
                        <br />
                        {
                            projectStatuses.map((status: string) => (
                                <a
                                    href={`/projects/status/${status.toLocaleLowerCase()}/`}
                                    class:list={[
                                        statusToBadgeClass(status),
                                        statusFilter === status.toLocaleLowerCase()
                                            ? "badge--active"
                                            : "",
                                    ]}
                                >
                                    {status}
                                </a>
                            ))
                        }

                        {
                            statusFilter ? (
                                <span>
                                    (<a href="/projects/" class="no-decoration">Reset</a>)
                                </span>
                            ) : null
                        }
                    </p>
                </div>

                <div class="card-grid">
                    {
                        projects.map((project: any) => (
                            <ProjectCard project={project} showBody={true} showTags={true} />
                        ))
                    }
                </div>
            </div>
        </div>

        <ContentFooter />
    </div>
</Document>