---
import Card from "./Card.astro";
import { projectTypeToAccent } from "../scripts/utils/collection";

interface Props {
    project: any;
    withTags?: boolean;
}

const { project, withTags = false } = Astro.props;

const accent = projectTypeToAccent(project.data.type);
---

<Card item={project} accent={accent}>
    <div slot="before-title">
        <div class="badge">
            {project.data.type}
        </div>
    </div>

    { withTags && <div class="links" slot="footer">
        {project.data.tags.map((tag: string) => <a href={`/projects/tag/${tag}`}>{tag}</a>)}
    </div>}
</Card>