---
import ItemCard from "./ItemCard.astro";
import { typeToBadgeClass } from "../util/frontmatter";

const { project, showBody, showTags } = Astro.props;

const typeClass = typeToBadgeClass(project.data.type);
---

<ItemCard item={project} showBody={showBody}>
    <span
        class:list={["item-card-inner-header-type", typeClass]}
        slot="before-title"
    >
        {project.data.type}
    </span>
    { showTags &&
        <div class="item-card-inner-footer-tags" slot="footer">
            {
                project.data.tags.map((tag: string) => (
                    <a href={`/projects/tag/${tag}`}>{tag}</a>
                ))
            }
        </div>
    }
</ItemCard>