---
import { loadAndFormatCollection, getTags } from "../../../../scripts/utils/collection";

import Layout from "../../../../layouts/Layout.astro";
import Container from "../../../../components/Container.astro";
import Header from "../../../../components/Header.astro";
import ProjectCard from "../../../../components/ProjectCard.astro";

export async function getStaticPaths() {
    const projects = await loadAndFormatCollection("projects", false);
    const tags = await getTags(projects);

    return tags.map((tag) => {
        return {
            params: { tag },
        };
    });
}

const { tag } = Astro.params;

const projects = (await loadAndFormatCollection("projects", false))
    .filter((post: any) => post.data.tags.includes(tag))
    .sort((a: any, b: any) => a.data.weight - b.data.weight);

const posts = await loadAndFormatCollection("posts");
const tagHasPosts =
    posts.filter((post: any) => post.data.tags.includes(tag)).length > 0;
---

<Layout title={`Projects tagged with '${tag}'`}>
    <Container maxWidth="900px">
        <Header title="Projects">
            <h2>Tagged with '{tag}'</h2>

            {
                tagHasPosts ? (
                    <div class="see-also">
                        There are also
                        <a href={`/posts/tag/${tag}/1`}>posts with this tag</a>
                    </div>
                ) : null
            }
        </Header>

        <div class="grid grid-2">
            {projects.map((project) => <ProjectCard project={project} showBody={true} />)}
        </div>
    </Container>
</Layout>

<style lang="scss">
h2 {
    font-variation-settings: "wdth" 100;
    font-weight: 500;
    color: var(--color-foreground-muted-2);
}

.see-also {
    font-size: 1.2rem;
}
</style>
