---
import type { CollectionEntry } from "astro:content";
import DocStart from "../components/DocStart.astro";
import DocEnd from "../components/DocEnd.astro";
import HeadTopLinks from "../components/HeadTopLinks.astro";
import HeadBottomLinks from "../components/HeadBottomLinks.astro";
import { loadAndFormatCollection } from "../util/collection";
import { truncate } from "../util/string";

type Props = CollectionEntry<"posts">["data"];

const { title, description, pubDate, heroImage, tags } = Astro.props;

const posts: any[] = (await loadAndFormatCollection("posts"))
    .sort((a: any, b: any) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());

let prevPost = null;
let nextPost = null;

for (let i = 0; i < posts.length; ++i)
{
    if (posts[i].data.title == title)
    {
        if (i > 0) prevPost = posts[i - 1];
        if (i + 1 < posts.length) nextPost = posts[i + 1];
        break;
    }
}

if (prevPost != null)
{
    prevPost.data.title = truncate(prevPost.data.title);
}

if (nextPost != null)
{
    nextPost.data.title = truncate(nextPost.data.title);
}
---

<DocStart title={title} description={description} />
    <div class="container container--post">
        <div class="head" style={`background-image: url(${heroImage})`}>
            <div>
                <HeadTopLinks />

                <div style="margin: 0 1rem;">
                    <h1>{title}</h1>
                    <h2 class="subheading">{description}</h2>
        
                    <ul class="tags">
                        {
                            tags.map(tag => (
                                <li><a href={`/tags/${tag}/`}><span>{tag}</span></a></li>
                            ))
                        }
                    </ul>
                </div>

                <HeadBottomLinks />
            </div>
        </div>
        
        <div class="body">
            <div class="inner-container">
                <div class="publish-date">
                    <div>
                        {pubDate.toLocaleString('default', { month: 'long' })} {pubDate.getDate()}, {pubDate.getFullYear()}
                    </div>
                </div>

                <article>
                    <slot />
                </article>

                <hr>

                <div class="adjacent-post-links">
                    <div class="previous">
                        { prevPost != null &&
                            <a href={prevPost.absolutePath}>
                                <span class="prefix">‹ Previous post</span>
                                <br />
                                <span class="title">{prevPost.data.title}</span>
                            </a>
                        }
                    </div>

                    <div class="next">
                        { nextPost != null &&
                            <a href={nextPost.absolutePath}>
                                <span class="prefix">Next post ›</span>
                                <br />
                                <span class="title">{nextPost.data.title}</span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="inner-container">
                <h4>Who is this?!</h4>
        
                <p>I'm Rick, a UK-based developer whose professional experience began with full-stack web development in the late 2000s. I grew up in a household of nerds, which exposed me to computers, consoles, and games from a very early age. I was always curious about how game development works and eventually found my way into the games industry in 2019, where I currently work as a full time software engineer.</p>
        
                <p>Since 2019, I've spent much of my leisure time learning more about all facets of game development as well as programming in general. I occasionally post about those topics here.</p>
        
                <p><a href="#">▴ Back to top</a></p>
            </div>
        </div>
    </div>
<DocEnd />