---
import Layout from "./Layout.astro";
import { loadAndFormatCollection, projectTypeToAccent } from "../scripts/utils/collection";
import { truncate } from "../scripts/utils/string";

import Container from "../components/Container.astro";
import Header from "../components/Header.astro";
import ExtLink from "../components/ExtLink.astro";
import AdjacentContentLinks from "../components/AdjacentContentLinks.astro";

const { title, description, type, headerImage, url, tags } = Astro.props;

const accent = projectTypeToAccent(type);
const linkLabel = new URL(url).hostname;

const projects: any[] = (await loadAndFormatCollection("projects", false)).sort(
    (a: any, b: any) => a.data.weight - b.data.weight,
);

let prevProject = null;
let nextProject = null;

for (let i = 0; i < projects.length; ++i) {
    if (projects[i].data.title == title) {
        if (i > 0) prevProject = projects[i - 1];
        if (i + 1 < projects.length) nextProject = projects[i + 1];
        break;
    }
}

if (prevProject != null) {
    prevProject.data.title = truncate(prevProject.data.title);
}

if (nextProject != null) {
    nextProject.data.title = truncate(nextProject.data.title);
}
---

<Layout title={title} withNavbar={true} withShapes={false} withGradient={false}>
    <Container maxWidth="1100px">
        <Header title={title} backgroundImage={headerImage}>
            {description}

            <ul slot="after" class:list={["tags", accent]}>
                {tags.map(tag => (<li><a href={`/projects/tag/${tag}`}>{tag}</a></li>))}
            </ul>
        </Header>

        <ul class="pills">
            <li class={accent}><span>Type</span><span>{type}</span></li>
            <li><span>Link</span><span><ExtLink url={url}>{linkLabel}</ExtLink></span></li>
        </ul>
    </Container>

    <Container maxWidth="900px">
        <div class="content">
            <slot />
        </div>

        <hr />

        <AdjacentContentLinks
            leftItem={prevProject}
            leftLabel="Previous project"
            rightItem={nextProject}
            rightLabel="Next project" />
    </Container>
</Layout>

<style lang="scss">
.content {
    font-size: 1.2rem;
    color: var(--color-foreground-muted-1);
}
</style>
