---
import type { GetStaticPathsOptions } from "astro";
import { loadAndFormatCollection, getTags } from "../../../../scripts/utils/collection.ts";

import Layout from "../../../../layouts/Layout.astro";
import Container from "../../../../components/Container.astro";
import Header from "../../../../components/Header.astro";
import Pagination from "../../../../components/Pagination.astro";
import PostCard from "../../../../components/PostCard.astro";

export async function getStaticPaths(options: GetStaticPathsOptions) {
    const posts = await loadAndFormatCollection("posts");
    const tags = await getTags(posts);

    return tags.flatMap((tag) => {
        const filteredPosts = posts
            .filter((post: any) => post.data.tags.includes(tag))
            .sort(
                (a: any, b: any) =>
                    b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
            );

        return options.paginate(filteredPosts, {
            params: { tag },
            pageSize: 10,
        });
    });
}

const { page } = Astro.props;
const { tag } = Astro.params;

const projects = await loadAndFormatCollection("projects", false);
const tagHasProjects =
    projects.filter((project: any) => project.data.tags.includes(tag)).length >
    0;
---

<Layout title={`Posts tagged with '${tag}'`}>
    <Container maxWidth="900px">
        <Header title="Posts">
            <h2>Tagged with '{tag}'</h2>

            {
                tagHasProjects ? (
                    <div class="see-also">
                        There are also{" "}
                        <a href={`/projects/tag/${tag}`}>
                            projects with this tag
                        </a>
                    </div>
                ) : null
            }
        </Header>

        <div class="posts">
            {page.data.map((post) => <PostCard post={post} showTags={false} />)}
        </div>

        <Pagination page={page} />
    </Container>
</Layout>

<style lang="scss">
h2 {
    font-variation-settings: "wdth" 100;
    font-weight: 500;
    color: var(--color-foreground-muted-2);
}

.see-also {
    font-size: 1.2rem;
}
</style>
